img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// сброс стилей кнопок

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

// Основные и функции

$primaryTextColor: #212121;
$titleTextColor: #757575;
$linkSeconaryColor: #ffffff;
$footerColor: rgba(255, 255, 255, 0.6);
$linkPrimaryColor: #2196f3;

// Анимация
$animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

// Шрифты
$Raleway: Raleway;
$Roboto: Roboto;
